<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p id="result"></p>
   <script>
      var arr =[12, 35, 1, 10, 34, 1];
      var largest = arr[0];
      function largestNumber() {
         for (var i = 1; i < arr.length; i++) {
            if (arr[i] > largest)
            largest = arr[i];
         }
         document.write("The largest element of the array is: " + largest)
      }
      largestNumber();
   </script>
</body>
</html>